# fly.toml app configuration file generated for discord-gnomo-bot-patient-pine-8992-weathered-brook-9121 on 2026-01-08T20:46:01Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'discord-gnomo-bot-patient-pine-8992-weathered-brook-9121'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
